@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="sidebar-wrapper sidebar-theme">

        <nav id="sidebar">

            <div class="navbar-nav theme-brand flex-row  text-center">
                <div class="nav-logo">
                    <div class="nav-item theme-text">
                        <a asp-area="User" asp-controller="Dashboard" asp-action="Index" class="nav-link">Football Insight</a>
                    </div>
                </div>
                <div class="nav-item sidebar-toggle">
                    <div class="btn-toggle sidebarCollapse">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
                    </div>
                </div>
            </div>
            <div class="shadow-bottom"></div>
            <ul class="list-unstyled menu-categories">

                <!-- Dashboard -->
                <li class="menu">
                    <a asp-area="User" asp-controller="Dashboard" asp-action="Index" class="dropdown-toggle">
                        <div>
                            <i class="fa-regular fa-clipboard fa-2xl"></i>
                            <span style="color: white">Dashboard</span>
                        </div>
                    </a>
                </li>

                <!-- Leagues -->
                <li class="menu">
                    <a asp-area="User" asp-controller="League" asp-action="All" class="dropdown-toggle">
                        <div class="">
                            <i class="fa-solid fa-window-restore fa-2xl"></i>
                            <span style="color: white">Leagues</span>
                        </div>
                    </a>
                </li>

                <!-- Teams -->
                <li class="menu">
                    <a asp-area="User" asp-controller="Team" asp-action="All" class="dropdown-toggle">
                        <div>
                            <i class="fa-solid fa-people-group fa-2xl"></i>
                            <span style="color: white">Teams</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
}