@model MatchSimpleViewModel

<form asp-action="Delete" method="post">
    <div class="layout-px-spacing">
        <div class="middle-content container-xxl p-0">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Are you sure you want to delete the following match?
                            </h5>
                            <p style="color: yellow; text-align: center;">@Model.HomeTeam VS @Model.AwayTeam</p>
                            <div class="text-danger">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <a asp-area="User" asp-action="Index" asp-controller="League" asp-route-Id="@Model.LeagueId" class="btn btn-outline-success mb-2 me-4">Cancel</a>
                            <button type="submit" class="btn btn-outline-danger mb-2 me-4">Delete</button>
                            <input type="hidden" asp-for="HomeTeam"/>
                            <input type="hidden" asp-for="AwayTeam" />
                            <input type="hidden" asp-for="MatchId" />
                            <input type="hidden" asp-for="LeagueId" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>