<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Football Insight </title>
    @await Html.PartialAsync("_AllStyles")
</head>
<body class="layout-boxed enable-secondaryNav">
    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->

    <!--  HEADER VIEW  -->
    @await Component.InvokeAsync(nameof(HeaderComponent))

    <!-- MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <!-- MENU -->
        @await Component.InvokeAsync(nameof(MenuComponent))

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">

            @RenderBody()

            @await Component.InvokeAsync(nameof(FooterComponent))
        </div>
    </div>
    <!-- END MAIN CONTAINER -->
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_AllScripts")
    @RenderSection("Scripts", required: false)
</body>
</html>