@model PlayerFormViewModel

<div class="layout-px-spacing">
    <div class="middle-content container-xxl p-0">
        <div class="row layout-top-spacing">
            <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
                <div class="widget-content widget-content-area br-8">
                    <div id="zero-config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <form asp-action="Edit" method="post">
                            <div class="row g-3">
                                <div class="text-danger">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-2 mt-4" style="text-align: center;">
                                        <div class="form-group">
                                            <label asp-for="FirstName">First Name</label>
                                            <input asp-for="FirstName" class="form-control" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 mt-4" style="text-align: center;">
                                        <div class="form-group">
                                            <label asp-for="LastName">Last Name</label>
                                            <input asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 mt-4" style="text-align: center;">
                                        <div class="form-group">
                                            <label asp-for="DateOfBirth">Birth Date</label>
                                            <input asp-for="DateOfBirth" class="form-control" />
                                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 mt-4" style="text-align: center;">
                                        <div class="form-group">
                                            <label asp-for="SelectedPosition">Position</label>
                                            <select asp-for="SelectedPosition" class="form-select" asp-items="Model.Positions">
                                                <option value="" selected>Select a league</option>
                                            </select>
                                            <span asp-validation-for="SelectedPosition" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-2 mt-4" style="text-align: center;">
                                        <div class="form-group">
                                            <label asp-for="Price">Price</label>
                                            <input asp-for="Price" class="form-control" />
                                            <span asp-validation-for="Price" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-4" style="text-align: left;">
                                        <label asp-for="Salary" class="form-label">Salary</label>
                                        <input asp-for="Salary" class="form-control" />
                                        <span asp-validation-for="Salary" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12" style="text-align: center;">
                                    <a asp-area="User" asp-action="Squad" asp-controller="Team" asp-route-Id="@Model.TeamId" class="btn btn-outline-success mb-2 me-4">Cancel</a>
                                    <input type="hidden" name="teamId" asp-for="@Model.TeamId" />
                                    <input type="hidden" name="playerId" asp-for="@Model.Id" />
                                    <button type="submit" class="btn btn-outline-success mb-2 me-4">
                                        <span class="btn-text-inner">Edit Player</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
