html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.file-upload-wrapper {
    position: relative;
}

.file-upload-input {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-upload-button {
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.square-image-container {
    /* Ensure the container has a defined size that matches your design */
    width: 100%; /* or fixed size e.g., 150px */
    padding: 10px; /* optional, for some spacing around the image */
}

.square-image {
    width: 100%; /* Make image fill the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container with the image without stretching it */
    max-height: 150px; /* Adjust based on your design needs */
    border-radius: 10px;
}