html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.file-upload-wrapper {
    position: relative;
}

.file-upload-input {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-upload-button {
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.square-image-container {
    width: 100%;
    padding: 10px;
}

.square-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 150px;
    border-radius: 10px;
}

.action-icon {
    position: relative;
    display: inline-block;
    margin-right: 10px; 
}